# Node
node_modules/
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.env
wishlist.db

# Misc
.DS_Store
*.log
dist/
tmp/
.idea/
.vscode/
uploads/
